@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2563eb;
  --color-active: #2563eb;
  --animate-kenBurns: kenBurns 20s ease-out infinite alternate;

  @keyframes kenBurns {
    0% {
      transform: scale(1) translateY(0);
    }
    100% {
      transform: scale(1.2) translateY(-10px);
    }
  }
}
